manager-popover {
    height: 300px;
    width: 250px;

    display: flex;

    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.141);
    border-radius: 10px;

    position: absolute;

    top: 100%;
    right: -150%;

    z-index: 9999;

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    ul, li {
        list-style: none;
    }

    .nav-button {
        background-color: transparent;
        outline: 0 !important;
    }

    #menu-container {
        border-radius: 10px;
    
        background-color: lightgray;
    }
}