<div id="menu-container" class="bg-light px-2 pt-3">
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item"><button class="nav-button nav-link" type="button">Minhas senhas</button></li>
        <li class="nav-item"><button class="nav-button nav-link" type="button">Criação</button></li>
    </ul>
    <main id="creation-container" class="p-2">
        <img src="../../assets/img/lock-icon.svg" alt="">
        

       <section id="feedback-menu">
            <div class="d-flex justify-content-between">
                <span id="password-result small ">30223nv495y8vh</span>
                <div class="result-options">

                </div>
            </div>

            <div id="feedback-status" class="d-flex py-2">
                <span class="bar bg-success"></span>
                <span class="bar bg-success"></span>
                <span class="bar bg-success"></span>
                <span class="bar bg-success"></span>
            </div>
       </section>
       <div id="creation-config" class="d-flex py-2">
            <section>
                <fieldset class="form-group">
                    <label class="form-check-label" for="password-length">Comprimento da senha</label>
                    <div class="d-flex align-items-center">
                        <span id="password-length-label" class="mr-2">12</span>
                        <input type="range" name="length" id="password-length" class="form-control">
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="form-check">
                        <input type="checkbox" name="easy-read" class="form-check-input" id="easy-read">
                        <label class="form-check-label" for="easy-read">Fácil de ler</label>
                    </div>
                   
                    <div class="form-check">
                        <input type="checkbox" name="easy-speak" class="form-check-input" id="easy-speak">
                        <label class="form-check-label" for="easy-speak">Fácil de dizer</label>
                    </div>
                </fieldset>
            </section>
            <hr class="mx-2">
            <section>
                <div class="form-check">
                    <input type="checkbox" name="uppercase" class="form-check-input" id="uppercase">
                    <label class="form-check-label" for="uppercase">Maiúsculo</label>
                </div>
               
                <div class="form-check">
                    <input type="checkbox" name="lowercase" class="form-check-input" id="lowercase">
                    <label class="form-check-label" for="lowercase">Minúsculo</label>
                </div>

                <div class="form-check">
                    <input type="checkbox" name="numbers" class="form-check-input" id="numbers">
                    <label class="form-check-label" for="numbers">Números</label>
                </div>

                <div class="form-check">
                    <input type="checkbox" name="symbols" class="form-check-input" id="symbols">
                    <label class="form-check-label" for="symbols">Símbolos</label>
                </div>
            </section>
       </div>
       <footer class="d-flex justify-content-end">
            <button class="px-3 py-2 border-0 rounded bg-primary text-white">Preencher senha</button>
       </footer>
    </main>
</div>