#menu-container {
    height: 300px;
    width: 250px;

    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.141);
    border-radius: 10px;

    background-color: lightgray;

    ul, li {
        list-style: none;
    }

    .nav-button {
        background-color: transparent;
        outline: 0 !important;
    }
}