manager-popover {
    height: 400px;
    width: 300px;

    position: absolute;

    top: 0;
    right: 0;

    z-index: 9999;

    #menu-container {
        border-radius: 10px;
    
        background-color: lightgray;
    }
}