#menu-container {
    width: 250px;

    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.141);
    border-radius: 10px;

    background-color: lightgray;

    font-family: Roboto, sans-serif !important;

    ul, li {
        list-style: none;
    }

    input {
        outline: 0;
    }

    button,
    a, 
    input[type="checkbox"],
    input[type="range"],
    label {
        cursor: pointer;
    }

    #password-length-label {
        width: 20px;
    }

    .nav-button {
        background-color: transparent;
        outline: 0 !important;
    }

    #password-result {
        word-break: break-all;
        font-size: 15px;
    }

    .reload-password-button {
        font-size: 12px;
        padding: 3px 5px;
    }

    #feedback-status {
        .bar {
            margin-right: 5px;
            height: 3px;
            flex: 1;

            border-radius: 50px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .manager-icon {
        height: 20px;
        width: 20px;
    }

    .result-options {
        button {
            outline: 0;
        }
        
        .result-options-icon {
            height: 18px;
            width: 18px;
        }
    }

    .check-field {
        display: flex;
        align-items: center;

        margin-bottom: 3px;
    }
}

#my-passwords-container {
    overflow-y: scroll;
    max-height: 240px;

    .card {
        margin-bottom: 0.5rem;

        &:last-child {
            margin-bottom: 0;
        }

        .card-title {
            margin-bottom: 0;
            width: 100%;
        }
    }
}