#menu-container {
    width: 250px;

    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.141);
    border-radius: 10px;

    background-color: lightgray;

    font-family: Roboto, sans-serif !important;

    ul, li {
        list-style: none;
    }

    input {
        outline: 0;
    }

    button,
    a, 
    input[type="checkbox"],
    input[type="range"],
    label {
        cursor: pointer;
    }

   /*  hr {
        height: 100px;
        width: 2px;
        
        border-radius: 50px;
    } */

    .nav-button {
        background-color: transparent;
        outline: 0 !important;
    }

    #password-result {
        word-break: break-all;
        font-size: 15px;
    }

    .reload-password-button {
        font-size: 12px;
        padding: 3px 5px;
    }

    #feedback-status {
        .bar {
            margin-right: 5px;
            height: 3px;
            flex: 1;

            border-radius: 50px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}