:host {
    all: initial; //? PREVENTS WEBSITE CSS OVERWRITE COMPONENT STYLISH
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#popover-host {
    z-index: 9999;
}

manager-popover {
    position: absolute;
    top: 0;
    left: 0;

    font-size: 13px;
}